{# groupf/tasks/templates/tasks/management_support.html (2+1レイアウト版) #}
{% extends 'tasks/base.html' %}

{% block content %}
<div class="container-fluid px-lg-4 py-3">
    
    <section>
        <div class="page-header">
            <h2 class="mb-0">マネジメント支援メニュー</h2>
        </div>

        {# ★★★ Bootstrapのグリッドシステムを使ってレイアウトを構築 ★★★ #}
        <div class="row g-4 justify-content-center">
            
            {# --- 上の行（2つのボタン）--- #}
            <div class="col-lg-5">
                <a href="#" class="card-menu-horizontal h-100">
                    <i class="card-icon fas fa-pen-to-square"></i>
                    <div class="card-text">
                        <h3 class="card-title">マニュアル作成</h3>
                        <p class="card-description">マニュアル作成、更新、承認を行います</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-5">
                <a href="#" class="card-menu-horizontal h-100">
                    <i class="card-icon fas fa-lightbulb"></i>
                    <div class="card-text">
                        <h3 class="card-title">面談のアドバイス</h3>
                        <p class="card-description">年齢、性別に合わせた言葉などをアドバイスします</p>
                    </div>
                </a>
            </div>

        </div>

        {# ★★★ 下の行（中央に1つのボタン）★★★ #}
        <div class="row g-4 justify-content-center mt-3">
            <div class="col-lg-5">
                <a href="#" class="card-menu-horizontal h-100">
                    <i class="card-icon fas fa-users"></i>
                    <div class="card-text">
                        <h3 class="card-title">メンバータグ表示</h3>
                        <p class="card-description">メンバーのタグを閲覧できます</p>
                    </div>
                </a>
            </div>
        </div>

    </section>

</div>
{% endblock %}