{# groupf/tasks/templates/tasks/partials/_sidebar.html #}
{# このファイルはサイドバーとハンバーガーメニューの部品です #}

<aside class="app-sidebar">
    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <nav>
        <ul>
            <li class="active"><a href="#">ホーム</a></li>
            <li><a href="#">タスク</a></li>
            <li><a href="#">タスクの追加</a></li>
            <li><a href="#">ファイル</a></li>
            <li><a href="#">ガントチャート</a></li>
            <li><a href="#">プロジェクト設定</a></li>
        </ul>
    </nav>
</aside>