{# groupf/tasks/templates/tasks/partials/_sidebar.html #}

<aside class="app-sidebar">
    <nav>
        <ul>
            <li class="active"><a href="">ホーム</a></li>
            <li><a href="task_assign/">タスクボード</a></li>
            <li><a href="task_board/">タスク管理</a></li>
            <li><a href="task_redister/">タスクガイド</a></li>
            <li><a href="#">タスク割り振り</a></li>
            <li><a href="{% url 'management_support_page' %}">マネジメント支援</a></li>            
            <li><a href="#">アカウント管理</a></li>

        </ul>
    </nav>
</aside>