<aside class="app-sidebar">
    <nav>
        <ul>
            <li><a href="{% url 'top_page' %}">ホーム</a></li>

            <li><a href="{% url 'task_board_page' %}">タスクボード</a></li>
            
            <li><a href="{% url 'task_assign_page' %}">タスク管理</a></li>
            <li><a href="{% url 'task_register_page' %}">タスク登録</a></li>
            <li><a href="{% url 'task_guide_page' %}">タスクガイド</a></li>
            <!-- <li><a href="#">タスク割り振り</a></li> -->

            <li><a href="{% url 'management_support_page' %}">マネジメント支援</a></li>

            <li><a href="#">アカウント管理</a></li>
        </ul>
    </nav>
</aside>